/* Website template by freewebsitetemplates.com */
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
