html
{
    background: #aaaaaa;
}

.mr-3
{
    max-height: 16rem;
}

#jumbo
{
    background-image: url("../images/back.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#jumbo-container
{
    min-width: 100%;
    background-color: #595959;
}

