html,body
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face
{
	font-family: Dimitri;
	src: url('DIMIS___.ttf');
}

canvas
{ 
	display: block;
	vertical-align: bottom;
}

.hidden
{
	display: none;
}

#particles-js
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #2b18b6;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	max-width: 100%;
}

#intro-text
{
	margin-top: 15%;
	left: 25%;
	position: absolute;
	font-family: Dimitri;
	text-align: center;
	font-size: 6vw;
	color: #eeeeee;
	max-width: 100%;
}

#link-container
{
	top: 40%;
	left: 40%;
	position: absolute;
}

@media (max-width:800px) {
#link-container
{
	top: 10%;
	left: 15%;
}

.btn
{
	font-size: 0.6rem !important;;
}

}
